@page
@model University.Pages.Auth.LoginModel

<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Username</label>
                        <div class="col-md-10">
                            <input type="text" name="username" autofocus />
                        </div>
                    </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" name="password" />
                    </div>
                </div>

                <button class="btn-primary">Login</button>
            </form>
        </section>
    </div>
</div>
